#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
    /*
    
    */
}

#nowrap {
    line-height:30px;
    background-color:#eeeeee;
    height:550px;
    width:60%; 
     
    float:left;
    /*
    border-style:dashed;
     width:60%; 
    padding:5px;	
    */

    
       
}

#tips {
   
    background-color:#eeeeee;
    overflow:hidden
    height:550px;
    width:40%; 
  
    line-height:30px;
   
    float:right;
    white-space: nowrap
    /*
    border-style:dashed; 
    width:auto; 
      padding:5px;
    overflow:hidden
    width:450px;
    float:right;
    float:right;
     float:left;
     clear:both;
    */	      
}

#tiscontain {
	line-height:30px;
    background-color:#eeeeee;
    padding:5px;
    height:550px;
    clear:both;
    width:100%; 
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;	 	 
}
